* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;  
}
body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calci {
    height: 600px;
    width: 350px;
    background-color: black;
}
.spacebar {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display {
    background-color: white;
    height: 60%;
    width: 85%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.buttons {
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10px;
}
button {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    font-size: 1.8rem;
    text-align: center;
}
button:hover {
    opacity: 0.3;
    background-color: blue;
}
.AC, .DEL, .percent {
    background-color: grey;
}
.divide, .mul, .minus, .add, .equal {
    background-color: orange;
}
.zero {
    border-top-left-radius: 35%;
    border-top-right-radius: 37%;
    border-bottom-left-radius: 37%;
    border-bottom-right-radius: 35%;
    width: 145px;
}
